*{
     color: green; 
}
p{
    color: red ;
}

 p{
    /* This will be prefered */
    /* color: blueviolet; */
    font-size: 50px;
    font-size: 60px;
}
.para {
    /*color: black; */
}

#para {
     color: purple; 
}
 /* combination */

 /* Des */
header p {
    color:royalblue;
}
/* child selector */

header > p{ 
    background-color: cornsilk;
}
/* Adjacent sibling selector */
header + p {
    font-style: italic;
}
/* General sibling selector */

header ~ p{
    background-color:darkgoldenrod ;
    color: #fff;
}


